saveFlyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  this file generated by oXygen XML Editor 
  by analysis of example saveFlyData.xml file 
  and then later edited by hand. 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- root element -->
  <xs:element name="saveFlyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="triggerPV"/>
        <xs:element ref="NX_structure"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="xs:NMTOKEN" />
    </xs:complexType>
  </xs:element>

<!-- + + + + + + + component elements + + + + + + + + -->
  
  <xs:element name="triggerPV">
    <xs:complexType>
      <xs:attribute name="done_text" use="required" type="xs:NCName"/>
      <xs:attribute name="done_value" use="required" type="xs:integer"/>
      <xs:attribute name="pvname" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="start_text" use="required" type="xs:NCName"/>
      <xs:attribute name="start_value" use="required" type="xs:integer"/>
      <xs:attribute name="poll_time_s" use="optional" type="xs:decimal" default="0.1"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="NX_structure">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="group"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="group">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="group"/>
        <xs:element ref="field"/>
        <xs:element ref="PV"/>
      </xs:choice>
      <xs:attribute name="class" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="PV">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="label" use="required" type="xs:NCName"/>
      <xs:attribute name="pvname" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="length_limit" use="optional" type="xs:NCName"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="attribute">
	<xs:complexType>
		<xs:attribute name="name" use="required" type="xs:NCName"/>
		<xs:attribute name="value" use="required" type="xs:NMTOKENS"/>
	</xs:complexType>
  </xs:element>

  <xs:element name="field">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="text" />
      </xs:choice>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>

</xs:schema>

<!--
########### SVN repository information ###################
# $Date$
# $Author$
# $Revision$
# $URL$
# $Id$
########### SVN repository information ###################
-->
